* {
	font-family: "Roboto", sans serif;
}

body {
	background-color: #D1F8EF;
}

h1 h2 {
	font-family: "Tahoma", sans-serif;
}

nav {
	text-align: center;
	padding: 8px;
	background-color: #A1E3F9;
}

a {
	text-decoration: none;
}

#landing {
	text-align: center;
}

#profile {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#artists {
	text-align: center;
	margin: 60px;
}

#songs {
	text-align: center;
	margin: 60px;
}

#contact {
	text-align: center;
	padding: 8px;
	background-color: #3674B5;
}
